html {
    width: 100%;
    height: 100%;
    font-family: Tahoma, Verdana, Geneva; /*arial, helvetica, sans-serif;*/
}
span {
    color: black;
}
.label-div {
    width: 35%;
    float: left;
}
.error-input {
    border: solid red 1px;
}
.error-label {
    color: red;
}
.warning {
    font-weight: bold;
    font-size: 14px;
    color: red;
    height: 15px;
}
.result {
    font-weight: bold;
    font-size: 14px;
    color: black;
    height: 15px;

}
.hide {
    display: none;
}

.show {
    display: block;
}
input[type="submit"] {
    height: 30px;
    width: 100px;
    border: solid gray 1px;
    border-radius: 2px;
}